*{ /*Zerando o padding e margin*/
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body {
    overflow-x:hidden;
}

header { /*Colocando o fundo do header de preto, definindo altura e cor das fontes*/
    height:100px;
    background-color:#000;
    color:#fff;
}

.header { /*Limites do espaçamento do conteúdo e centralização do mesmo.*/
    display:flex;
    max-width:1140px;
    height:100px;
    margin:auto;
    align-items:center;
}

.logo { /*Definindo a algura da área da logo*/
    width:100px;
}

.logoimg { /*Taamnho e cor da logo*/
    height:80px;
    width:80px;
    background-color:#b28756;
    border-radius:40px;
}

.menu { /*Posicionamento do menu e preenchimento do espaço*/
    flex:1;
    display:flex;
    justify-content:flex-end;
}

.menu ul,
.menu li { /*Estilizando a lista*/
    list-style:none;
}

.menu ul { /*Tornando o conteúdo da lista flexível*/
    display:flex;
}

.menu li a { /*Centralizando a lista no espaço do menu, deixando texto em maiúsculo, semi-bold, espaçamento e borda preta*/
    display:flex;
    align-items:center;
    height:100px;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:600;
    color:#fff;
    padding:0px 7px;
    border-bottom:5px solid #000;
}

.menu li a:hover,
.menu .active a { /*Modificando a borda quando estiver com o mouse em cima e quando o item do menú estiver ativo*/
    border-bottom:5px solid #b28756;
    color:#ccc;
}

.button { /*Estilização do botão, cor do espaçamento e letra, tamanho da letra, bold e arredondamento das pontas*/
    display:inline-block;
    background-color:#b28756;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:600;
    font-size:12px;
    padding:10px 30px;
    margin-top:30px;
    border-radius:15px;

}

.banner { /*Aplicando a altura do banner para ser ajustada ao tamanho de qualquer monitor, tamanho e posicionamento do banner*/
    height:calc(100vh - 100px);
    background-color:#333;
    background-image:url('../images/bg.jpg');
    background-size:cover;
    background-position:bottom;
    overflow:hidden;
}

.banner .sliders { /*Tamanho suficiente para caber todos os sliders*/
    width:10000vw;
    height:100%;
}

.banner .slide { /*Tamanho de cada slide e coloração preta transparente*/
    width:100vw;
    height:100%;
    display:inline-block;
    background-color:rgba(0, 0, 0, 0.8);
}

.banner .slidearea { /*Conteúdo flexível, conteúdo centralizado no meio tanto na horizontal quanto na vertical e coloração do título*/
    display:flex;
    flex-direction:column;
    height:100%;
    align-items:center;
    justify-content:center;
    color:#fff;
}

.banner h1 { /*Texto em maiúsculo, negrido e aumento do tamanho das letras*/
    text-transform:uppercase;
    font-weight:bold;
    font-size:50px;
}

.banner h1 span { /*Mudando a cor da palavra*/
    color:#b28756;
}

.banner h2 { /*Texto em maiúsculo e espaçamento na margem*/
    text-transform:uppercase;
    margin-top:15px;
}

.banner .sliders-pointers { /*Definindo a área que os pontos vão ficar e o seu posicionamento na tela, juntamente com os seu espaçamento*/
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:20px;
    position:absolute;
    margin-top:-50px;
    gap:10px;
}

.banner .pointer { /*Tamanho dos pontos, cor da borda e aparecer como um cursor quando o mouse estiver em cima*/
    height:15px;
    width:15px;
    border:2px solid #b28756;
    border-radius:8px;
    cursor:pointer;
}

.banner .pointer.active { /*Cor quando for clicado*/
    background-color:#b28756;
}

.default { /*Padrozização*/
    padding:50px 0;
}

.default .section-title,
.default .section-desc { /*Centralização dos textos*/
    text-align:center;
    text-transform:uppercase;
    font-weight:600;
}

.default .section-title { /*Tamanho do título*/
    font-size:20px;
}

.default .section-desc { /*Cor, tamanho e margins da descrição*/
    color:#464545;
    font-size:12px;
    margin-top:10px;
    margin-bottom:40px;
}

.default .section-body { /*Centralização do conteúdo e tamanho máximo da largura*/
    max-width:1140px;
    margin:auto;
}

.default.light { /*Se default for light, então o fundo é branco*/
    background-color:#f7f7f7;
}

.default.light .section-title,
.default.light .section-body { /*Se default for light, então o título será preto*/
    color:#000;
}

.default.dark { /*Se default for dark, então o fundo é preto*/
    background-color:#000;
}

.default.dark .section-title, 
.default.dark .section-body { /*Se default for dark, então o título sera branco*/
    color:#fff;
}

/*
ÁREAS ESPECIFICAS
*/

.section-aboutus { /*Torna o conteúdo flexível*/
    display:flex;
}

.section-aboutus--left {
    flex:1;
}

.section-aboutus--left p { /*Tamanho da fonte do texto e espaçamento entre as linhas do texto*/
    font-size:14px;
    line-height:23px;
}

.section-aboutus--right {/*Tamanho do espaço do conteúdo e centralização do conteúdo*/
    width:520px;
    text-align:center;
}

.section-aboutus--right img { /*Tamanho da imagem e sombra ao redor da imagem*/
    width:480px;
    box-shadow:0px 5px 15px #222;
}

.section-services {
    display:flex;
}

.service {
    flex:1;
    text-align:center;
    border-right:1px solid #333;
    padding:15px;
}

.service:first-child{
    border-left:1px solid #333;
}

.service img {
    height:60px;
}

.service h4 {
    margin-top:20px;
    text-transform:uppercase;
    font-size:18px;
}

.service p {
    margin-top:5px;
    font-size:13px;
    color:#999;
}