*{ /*Zerando o padding e margin*/
    box-sizing:border-box;
    padding:0;
    margin:0;
}

header { /*Colocando o fundo do header de preto, definindo altura e cor das fontes*/
    height:100px;
    background-color:#000;
    color:#fff;
}

.header { /*Limites do espaçamento do conteúdo e centralização do mesmo.*/
    display:flex;
    max-width:1140px;
    height:100px;
    margin:auto;
    align-items:center;
}

.logo { /*Definindo a algura da área da logo*/
    width:100px;
}

.menu { /*Posicionamento do menu e preenchimento do espaço*/
    flex:1;
    display:flex;
    justify-content:flex-end;
}

.logoimg { /*Taamnho e cor da logo*/
    height:80px;
    width:80px;
    background-color:#b28756;
}